/* 
* @Author: gyl
* @Date:   2015-09-08 10:49:19
* @Last Modified by:   gyl
* @Last Modified time: 2015-09-10 15:36:16
*/
body {
    background-color: #f1f1f1;
}

.ui.grid {
    margin-top: 7em;
}
a.ui.card{
    width:100%;
}

.column.chart {
    position: relative;
    float: left;
    margin-top: 30px;
}

.draw {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.25);
}


/*emotionChart*/

#emotionChart {
    font-family: Helvetica, Arial, sans-serif;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color:  #f1f1f1;*/
}

#emotionChart g.arc {
    fill: "steel";
}

#emotionChart g.pointer {
    fill: #e85116;
    stroke: #b64011;
}

#emotionChart g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #777;
}

#emotionText {
    font: 20px sans-serif;
    text-align: center;
}


/*timeChart*/

#timeChart {
    font: 12px sans-serif;
    height: 400px;
}

/*#timeChart .axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}*/

/*#timeChart .x.axis path {
    display: none;
}
*/


/*#timeChart .line {
    fill: none;
    stroke: #069;
    stroke-width: 1.5px;
}
*/
.lineChart--area {
    fill: url(#lineChart--gradientBackgroundArea);
}

.lineChart--areaLine {
    fill: none;
    stroke: #6bb7c7;
    stroke-width: 3;
}

/*.lineChart--bubble--label {
    fill: none;
    stroke: #6bb7c7;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
}
*/
.lineChart--bubble--value {
    fill: #fff;
    stroke: #fff;
    font-size: 16px;
    font-weight: 100;
}

.lineChart--circle {
    fill: #6bb7c7;
    stroke: #fff;
    stroke-width: 3;
}

.lineChart--circle__highlighted {
    fill: #fff;
    stroke: #3f94a7;
}

.lineChart--gradientBackgroundArea--top {
    stop-color: #6bb7c7;
    stop-opacity: 0.1;
}

.lineChart--gradientBackgroundArea--bottom {
    stop-color: #6bb7c7;
    stop-opacity: 0.6;
}

.lineChart--svg {
    border: 1px solid #eee;
}

.lineChart--xAxisTicks .domain,
.lineChart--xAxis .domain,
.lineChart--yAxis .domain,
.lineChart--yAxisTicks .domain {
    display: none;
}

.lineChart--xAxis .tick line,
.lineChart--yAxis .tick line{
    display: none;
}

.lineChart--xAxisTicks .tick line,
.lineChart--yAxisTicks .tick line
{
    fill: none;
    stroke: #b3b3b3;
    stroke-width: 1;
    stroke-dasharray: 2, 2;

}


/*forceChart*/

#forceChart {
    height: 400px;
}

#forceChart .node {
    stroke: #fff;
    stroke-width: 1.5px;
}

#forceChart .link {
    stroke: #999;
    stroke-opacity: .6;
}


/*keywordChart*/

#keywordChart {
    height: 400px;
}


/*mapChart*/

#mapChart {
    height: 500px;
}

#tooltip {
    position: absolute;
    width: 100px;
    height: auto;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.valueText {
    font-family: arial;
    font-size: 12px;
    text-anchor: middle;
}


/*genderChart*/

#genderChart {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
}

.hidden {
        display: none;
    }