@import models.Account.User
@(user:User)

@main("Welcome") {
    <body>
        <div class="container">

            <div class="row text-center">
                亲爱的@user.getId  <br/>
                    欢迎使用SocialPlus
                    <a class="btn btn-sm btn-success" href="/user/admin">授权管理</a>
                <a class="btn btn-sm btn-danger" href=@routes.UserAction.exit()> 注销 </a>

                <br/>
                @if(!user.isValidated) {
                    <p>您的邮箱尚未验证<a href=@routes.UserAction.sendValidationMail(user.getId(), user.getEmail)>点击发送认证邮件 </a>
                    </p>
                }
                </div>


        </div>
    </body>

}