@(weiboAuthUrl:String)
<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Site Properities -->
    <title>Homepage-Socailplus</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/semantic.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/login.css")" />
    <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/semantic.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/login.js")"></script>
</head>

<body>
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <div class="ui container">
                        <a href="/" class="header item">
                            Socialplus
                        </a>
                        <a href="/" class="active item">
                            主页
                        </a>
                        <div class="right item">
                            <a class="ui inverted button" id="chooselogin_btn">登录</a>
                            <a class="ui inverted  button" id="choosesubmit_btn">注册</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui middle aligned center aligned grid container">
                <div class="row account-box" id="login_box">
                    <div class="column">
                        <h2 class="ui teal header">
                        <div class="content">
                            登录
                        </div>
                        </h2>
                        <form class="ui large form" method="POST" action=@routes.UserAction.authenticate()>
                            <div class="ui raised segment">
                                <div class="field">
                                    <div class="ui left icon transparent input">
                                        <i class="user icon"></i>
                                        <input type="text"  name="email" placeholder="邮箱" required autofocus>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon transparent input">
                                        <i class="lock icon"></i>
                                        <input type="password" placeholder="密码" name = "password" required/>
                                    </div>
                                </div>
                                <button class="ui fluid large teal submit button" type="submit"   id="login-btn">登录</button>
                            </div>
                        </form>
                        <div class="ui inverted horizontal divider">
                            Or
                        </div>
                        <div class="ui labeled icon button" onclick="
                        window.location.href='@weiboAuthUrl'">
                            微博授权
                            <i class="weibo icon"></i>
                        </div>
                    </div>
                </div>
                <div class="row account-box" id="submit_box">
                    <div class=" column">
                        <h2 class="ui teal image header">
                        <div class="content">
                            注册
                        </div>
                        </h2>
                        <form class="ui large form" method="post" action=@routes.UserAction.newUser()>
                            <div class="ui raised segment">
                                <div class="field">
                                    <div class="ui left icon transparent input">
                                        <i class="user icon"></i>
                                        <input type="text" name="email" placeholder="邮箱">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon   transparent input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="password" placeholder="密码">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon transparent input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="password2" placeholder="确认密码">
                                    </div>
                                </div>
                                <button class="ui fluid large teal submit button" id="submit_btn" type="submit">注册</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>